record-button {
 
      .countdown {
        position: relative;
        // margin: auto;
        // margin-top: 100px;
        height: 40px;
        width: 40px;
        text-align: center;
      }
      
      .countdown-number {
        color: white;
        display: inline-block;
        line-height: 40px;
      }
      
      svg {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        transform: rotateY(-180deg) rotateZ(-90deg);
      }
      
      svg circle {
        stroke-dasharray: 113px;
        stroke-dashoffset: 0px;
        stroke-linecap: round;
        stroke-width: 2px;
        stroke: white;
        fill: red;
        
      }
      
      
      @keyframes countdown {
        from {
          stroke-dashoffset: 0px;
        }
        to {
          stroke-dashoffset: 113px;
        }
      }
}
