<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ed623955-fa27-48cc-b3ca-fc3a4e010c97/resourceGroups/blockusign-RG/providers/Microsoft.Web/sites/blockusign</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://blockusign.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>blockusign.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>blockusign</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$blockusign</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>